a {
  cursor: pointer;
}

.partners__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners__item {
  width: 15%;
  flex-grow: 1;
}

.partners__link {
  display: flex;
}

.projects__iframe {
  padding: 5px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

#section-counter {
  margin-bottom: 3em;
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  gap: 50px;
  list-style: none;
}

.social-text {
  margin-bottom: 50px;
}

.social__link {
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform .3s ease;
}

.social__link:hover {
  transform: scale(1.2);
}

.social__link--instagram {
  background-image: url("../images/icon-instagram.svg");
}

.social__link--tiktok {
  background-image: url("../images/icon-tiktok.svg");
}

.social__link--youtube {
  background-image: url("../images/icon-youtube.svg");
}

.social__link--telegram {
  background-image: url("../images/icon-telegram.svg");
}

.footer__link {
  text-decoration: underline;
}

/* MEDIA */

@media screen and (min-width: 768px) {
  .hero-wrap .col-md-6 {
    flex: initial !important;
    max-width: initial;
  }
}

@media screen and (max-width: 900px) {
  .partners__item {
    width: 21%;
  }
}

@media screen and (max-width: 425px) {
  .partners__item {
    width: 38%;
  }

  .social {
    gap: 40px;
  }

  .social__link {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 765px) {
  .resume__contents {
    display: none;
  }
}

.partners_iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}